@import 'bulma';

$orange: #ff9100;

$bg-gradient: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

body, html, #app {
	width: 100%;
	height: 100%;
	background-color: $orange;
	background-image: $bg-gradient;
  }

.main {
	display: flex;
	align-items: center;
	height: 100%;
}