@import 'bulma';

$orange: #ff9100;
$bg-gradient: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

body,
html,
#app {
    width: 100%;
    height: 100%;
    background-color: $orange;
    background-image: $bg-gradient;
}

.main {
    display: flex;
    align-items: center;
    height: 100%;
}

.button {
  transition: transform 220ms ease-in-out, background-color 400ms ease;
  position: relative;

  &:hover {
    transform: translateY(-2.8px);
  }

  &:active {
    transform: translateY(2.8px);
  }
}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

 .CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}
